.content {
  background-color: rgb(204, 156, 156);
  width: 500px;
  height: 500px;
  position: relative;
}

.box {
  width: 200px;
  height: 200px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background-color: #ff0000;
}

.box2 {
  background-color: #3f0f9d;
  position: absolute;
  right: -20px;
  top: 0;
  width: 150px;
  height: 150px;
}

.box3 {
  background-color: #d13987;
}
