.message_bottom a {
  font-size: 30px;
  color: #081d4db4;
  position: fixed;
  right: 18px;
  bottom: 18px;
}

p {
  font-size: 20px;
}

.nav {
  background-color: rgba(187, 183, 183, 0.558);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #5c0e0e;
  text-decoration: none;
  padding: 20px;
  font-size: 30px;
}

h1 {
  margin-top: 60px;
}
