.container {
  display: grid;
  /* gap: 10px; */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(300px, 25%));
}

.box {
  background-color: rgb(227, 144, 144);
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
